{% extends 'base.html.twig.' %}
{% block body %}
    {% for toppings in toppings %}
    <ul>
        <li>{{ toppings.name }}</li>
        <li>{{ toppings. }}</li>
    </ul>
    {% endfor %}
{% endblock %}